apiVersion: 1

datasources:
 - name: Visualizer
   type: vertamedia-clickhouse-datasource
   access: proxy
   url: http://dsv-clickhouse:8123

   orgId: 1

   # <bool> enable/disable basic auth
   basicAuth: false
   # <string> basic auth username
   basicAuthUser:
   # <string> basic auth password
   basicAuthPassword:
   # <bool> enable/disable with credentials headers
   withCredentials: false
   # <bool> mark as default datasource. Max one per org
   isDefault: true
   # <map> fields that will be converted to json and stored in json_data
   jsonData:
      # <bool> enable/disable sending 'add_http_cors_header=1' parameter
      addCorsHeader: false
      # <bool> enable/disable using POST method for sending queries
      usePOST: true
      # <string> default database name
      defaultDatabase: dsv_five_minute
